#intro {
    margin-left: 30px;
    margin-right: 30px;
}
body {
    background-color: blanchedalmond;
}
#heading {
    font-family: Times;
    color: whitesmoke;
}
#btn1 {
    font-size: larger;
    color: whitesmoke;
    background-color: royalblue;
}
#btn2 {
    font-size: larger;
    margin-left: 60px;
    color: whitesmoke;
    background-color: royalblue;
}
#btn3 {
    font-size: larger;
    margin-left: 60px;
    color: whitesmoke;
    background-color: royalblue;
}
nav {
    background-color: darksalmon;
    padding-top: 20px;
}